books.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name='books'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='book' minOccurs='0' maxOccurs = 'unbounded'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name='book'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookName" type="xs:string"/>
                <xs:element name="bookPrice" type="xs:positiveInteger"/>
                <xs:element name="authorName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
